* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {

    display: grid;

    grid-template-columns: 1fr 520px;

    min-height: 100vh;

    background: #F8F8FC;

}

.login-left {

    position: relative;

    /* background: url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=1600") center/cover; */

    display: flex;

    align-items: center;

    justify-content: center;

}

.overlay {

    position: absolute;

    inset: 0;

    background: linear-gradient(rgba(30, 20, 70, .65),
            rgba(20, 15, 60, .8));

}

.hero {

    position: relative;

    color: white;

    text-align: center;

    width: 450px;

}

.logo {

    width: 70px;

    height: 70px;

    margin: auto;

    border-radius: 20px;

    background: white;

    color: #6C63FF;

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 30px;

}

.hero h1 {

    font-size: 55px;

    margin-bottom: 18px;

}

.hero p {

    line-height: 1.8;

    opacity: .9;

    font-size: 18px;

}

.login-right {

    display: flex;

    justify-content: center;

    align-items: center;

}

.login-card {

    width: 380px;

}

.login-card h2 {

    font-size: 35px;

    margin-bottom: 12px;

}

.login-card>p {

    color: #7A7A8B;

    margin-bottom: 35px;

}

.input-box {

    height: 58px;

    border: 1px solid #E8E8F0;

    border-radius: 15px;

    display: flex;

    align-items: center;

    padding: 0 18px;

    gap: 15px;

    margin-bottom: 18px;

    background: white;

}

.input-box input {

    flex: 1;

    border: none;

    outline: none;

    font-size: 15px;

}

.login-btn {

    width: 100%;

    height: 58px;

    border: none;

    border-radius: 15px;

    background: #6C63FF;

    color: white;

    font-size: 16px;

    font-weight: 700;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;

    margin-top: 10px;

    transition: .25s;

}

.login-btn:hover {

    transform: translateY(-2px);

}

.divider {

    text-align: center;

    margin: 30px 0;

    color: #999;

}

.google-btn {

    width: 100%;

    height: 55px;

    border-radius: 15px;

    border: 1px solid #E8E8F0;

    background: white;

    cursor: pointer;

    font-size: 15px;

}

.signup {

    margin-top: 28px;

    text-align: center;

}

.signup span {

    color: #6C63FF;

    font-weight: 600;

    margin-left: 6px;

    cursor: pointer;

}