.header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 35px;

}

.header-left h1 {

    font-size: 34px;

    font-weight: 700;

    color: #222;

}

.header-left span {

    color: #6C63FF;

}

.header-left p {

    color: #777;

    margin-top: 8px;

}

.header-right {

    display: flex;

    align-items: center;

    gap: 16px;

}

.search-box {

    width: 320px;

    height: 50px;

    background: white;

    border: 1px solid #ECECF3;

    border-radius: 14px;

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 0 18px;

}

.search-box svg {

    color: #888;

}

.search-box input {

    flex: 1;

    border: none;

    outline: none;

    font-size: 14px;

    background: none;

}

.icon-btn {

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 14px;

    background: white;

    border: 1px solid #ECECF3;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    transition: .25s;

}

.icon-btn:hover {

    background: #F6F5FF;

}

.avatar {

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: none;

    cursor: pointer;

    color: #6C63FF;

}